@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body { 
    background-color: #e5e7eb;
    color: #18181b;
    margin: 0;
    padding: 0;
}

.vertical-lines {
    background: linear-gradient(to bottom, 
                transparent 47%, 
                rgba(0, 0, 0, .25) 50%, 
                rgba(0, 0, 0, .25) 50.5%, 
                transparent 51%);
    background-size: 20px 20px;
    animation: moveVerticalLines 1s linear infinite;
    background-position: top left; /* Ensure vertical lines start from the top */
}

@keyframes moveVerticalLines {
    0% {
        background-position: 0 0; /* Start position */
    }
    100% {
        background-position: 0 20px; /* End position */
    }
}

.diagonal-lines {
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom right, 
                transparent 47%, 
                rgba(0, 0, 0, 0.1) 50%, 
                rgba(0, 0, 0, 0.1) 50.5%, 
                transparent 51%);
    background-size: 20px 20px;
    animation: moveDiagonalLines 1s linear infinite;
    background-position: top left; /* Ensure diagonal lines start from the top */
}

@keyframes moveDiagonalLines {
    0% {
        background-position: 0 0; /* Start position */
    }
    100% {
        background-position: 20px 20px; /* End position */
    }
}
